.container {
  background-color: #de94be;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

.logo_rm {
  width: 30rem;
}

.title_welcome {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #add92b;
  color: #00b5cc;
  font-size: 60px;
  text-align: center;
  font-family: "Creepster", cursive;
}

@media (max-width: 480px) {
  .logo_rm {
    display: none;
  }
}
